main {
    font-family: 'Montserrat Alternates', sans-serif !important;
}

header {
    background-color: #191919 !important;
    padding: 20px;
}

.navbar {
    font-size: larger;
}

.navbar-brand {
    font-size: larger !important;
}

.navbar-collapse {
    color: #eeb699;
}

a:link, a:visited {
    color: #beb5ea !important;
}

a:hover, a:active {
    color: #f5f5f5 !important;
    text-decoration: underline !important;
}

body {
    background: linear-gradient(to bottom right, #c77b5e 30%, #eebbaa 65%, #c77b5e) !important;
    background-attachment: fixed !important;
}

footer {
    background-color: #191919 !important;
    color: #f5f5f5 !important;
    height: auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    float: right;
}

.social-icons a {
    margin-left: 10px; /* Add spacing between icons if needed */
}

.card {
    background-color: #beb5ea !important;
    border-radius: 25px !important;
    height: auto;
    border: none;
}

.card img {
    border-radius: 25px;
}

.card a:link, .card a:visited {
    color: #191919 !important;
    text-decoration: none !important;
}

.card a:hover, .card a:active {
    background-color: #c77b5e !important;
    color: #191919 !important;
    text-decoration: underline !important;
}

#home, #about, #portfolio, #drawings {
    position: relative; /* Make the container relative to position overlay */
    background-image: url("../imgs/CopperCB.jpg") !important;
    background-size: cover !important;
}

#home::before, #about::before, #portfolio::before, #drawings::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 43, 119, 0.85); /* Adjust the overlay color and opacity as needed */
    z-index: -1; /* Position the overlay behind the content */
}
.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

#section2 {
    color: #f5f5f5;
    max-width: 75% !important;
    margin: 0 auto !important;
    margin-top: 5% !important;
    margin-bottom: 1% !important;
    border: none;
    border-radius: 25px !important;
}

#section2 .card {
    background-color: #eeb699 !important;
    color: #191919 !important;
    border: none;
}

#section2 .card-img {
    height: 75px !important;
    width: 75px !important;
}

#name-img {
    color: #f5f5f5;
}

#name-img, #intro {
    color: #f5f5f5;
    max-width: 75% !important;
    margin: 0 auto !important;
}

.ig::before {
    content: "\2B22";
    color: #eeb699;
    background-color: #191919;
    font-size: 135px;
}

#social {
    color: #f5f5f5;
    max-width: 75% !important;
    margin: 0 auto !important;
    margin-bottom: 5% !important;
}

.homebtn img {
    width: 100%;
    height: auto;
}

.homebtn {
    display: inline-block !important;
    position: relative !important;
    font-weight: 500 !important;
    padding: 40px 25px !important;
}

.homebtn:hover {
    color: #191919 !important;
    background-color: rgb(238, 182, 153, .5) !important;
    text-decoration: none !important;
}

#welcome {
    color: #f5f5f5;
    max-width: 75% !important;
    margin: 0 auto !important;
    margin-top: 5% !important;
    margin-bottom: 1% !important;
    border: none;
}

#coding {
    color: #f5f5f5;
    max-width: 75% !important;
    margin: 0 auto !important;
    margin-top: 5% !important;
    margin-bottom: 1% !important;
    border: none;
}

#portfolio img {
    max-width: 100%;
}

.assignment-link {
    display: block;
    text-decoration: none;
    color: transparent;
}

.assignment-link:hover {
    background-color: rgba(0, 0, 0, 0.2); 
    color: #eeb699 !important; 
}

        
.assignment-link img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s;
}

.col-md-6 {
    position: relative;
    overflow: hidden;
}

        
.assignment-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.overlay {
    position: absolute;
    padding: 25px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(25, 25, 25, 0.98);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.col-md-6:hover .assignment-link {
    color: #eeb699 !important;
}

.col-md-6:hover .assignment-link img {
    opacity: 0.95;
}

.col-md-6:hover .overlay {
    opacity: 1;
    color: #eeb699 !important;
}

#port {
    background-color: #2a2a2a;
    border-radius: 50px;
    color: #beb5ea
}
