main {
    font-family: 'Montserrat Alternates', sans-serif !important;
}

header {
    background-color: #191919 !important;
    padding: 20px;
}

.navbar {
    font-size: larger;
}

.navbar-brand {
    font-size: larger !important;
}

a:link, a:visited {
    color: #beb5ea !important;
}

a:hover, a:active {
    color: #f5f5f5 !important;
    text-decoration: underline !important;
}

body {
    background: linear-gradient(to bottom right, #c77b5e 30%, #eebbaa 65%, #c77b5e) !important;
    background-attachment: fixed !important;
}

footer {
    background-color: #191919 !important;
    color: #f5f5f5 !important;
    height: auto;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons {
    float: right;
}

.social-icons a {
    margin-left: 10px; /* Add spacing between icons if needed */
}

.card {
    background-color: #beb5ea !important;
    border-radius: 25px !important;
    height: 600px !important;
    border: none;
}

.card img {
    border-radius: 25px;
}

.card a:link, .card a:visited {
    color: #191919 !important;
    text-decoration: none !important;
}

.card a:hover, .card a:active {
    background-color: #c77b5e !important;
    color: #191919 !important;
    text-decoration: underline !important;
}

#home {
    position: relative; /* Make the container relative to position overlay */
    background-image: url("../imgs/CopperCB.jpg") !important;
    background-size: cover !important;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(73, 69, 145, 0.65); /* Adjust the overlay color and opacity as needed */
    z-index: -1; /* Position the overlay behind the content */
}

.scrollable-section {
    min-height: 300px; /* Adjust the desired minimum height */
    overflow-y: auto;
    border: 1px solid #ccc;
}

.outer-section {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.inner-section {
    display: none;
    margin-bottom: 20px; /* Adjust the desired margin */
}

.inner-section.active {
    display: block;
}

.navigation-buttons {
    text-align: center;
    margin-top: 10px;
}

.scrollable-section {
    position: relative; /* Make the section container relatively positioned */
}

.section-navigation {
    position: absolute; /* Position the dots absolutely within the section container */
    bottom: 10px; /* Adjust this value as needed to control the spacing from the bottom */
    left: 50%; /* Center the dots horizontally */
    transform: translateX(-50%); /* Adjust horizontal positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust the gap between dots */
}

.section-dot {
    width: 20px;
    height: 20px;
    padding: 2px;
    text-align: center;
    font-size: 10px;
    color: #191919;
    background-color: #eeb699;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.section-dot.active {
    background-color: #191919;
    color: #eeb699;
}


#section1 {
    color: #f5f5f5;
    max-width: 75% !important;
    margin: 0 auto !important;
    margin-top: 5% !important;
    margin-bottom: 1% !important;
    border: none;
    border-radius: 25px !important;
}

#section1 a:link, #section1 a:visited {
    color: #f5f5f5 !important;
}

#section1 a:hover, #section1 a:active {
    background-color: #beb5ea !important;
    color: #191919 !important;
    text-decoration: underline !important;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
}

#section2 {
    color: #f5f5f5;
    max-width: 75% !important;
    margin: 0 auto !important;
    margin-top: 5% !important;
    margin-bottom: 1% !important;
    border: none;
    border-radius: 25px !important;
}

#section2 .card {
    background-color: #eeb699 !important;
    color: #191919 !important;
    border: none;
    border-radius: 25px !important;
    min-height: 550px !important;
}

#section2 .card-img {
    height: 75px !important;
    width: 75px !important;
}