header {
    background-color: #191919;
    color: #c77b5e;
    text-align: center;
    height: 75px;
    padding-top: 10px;
}

a:link, a:visited {
    color: #191919;
    text-decoration: none;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(199, 123, 94, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar {
    font-size: larger;
}

body {
    background-color: #191919 !important;
    color: #191919 !important;
}

h2 {
    text-align: center;
}

 #nav {
    background-color: #191919;
    color: #c77b5e;
    text-align: center;
    height: 50px;
}

nav ul {
    display: inline-flex;
    list-style: none;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    background-color: #191919;
    color: #c77b5e;
    padding-top: 12px;
}

button {
    background-color: #c77b5e;
    color: #191919;
    border: solid 1px #191919;
    border-radius: 100px !important;
    font-size: 1.2em;
    padding: 0 10px;
}

.card {
    background-color: #beb5ea;
    color: #000;
    border: solid 1px #02160e;
    border-radius: px;
    padding: 10px;
    margin: 10px;
}

#articles div {
    background-color: #c77b5e;
}

h5 {
    text-align: center;
    color: #beb5ea;
}

.btn {
    background-color: #191919 !important;
    color: #c77b5e !important;
    border: solid 1px #191919;
    border-radius: 100px !important;
    font-size: 1.2em;
    padding: 0 10px;
}

footer {
    background-color: #191919;
    color: #c77b5e;
    text-align: center;
    height: 50px;
    padding-top: 10px;
}